<<<<<<< HEAD
.parent{
    display: grid;
    grid-template-rows: 30fr 50fr 10fr;
}
.child{
    display: flex;
    justify-content: center;
    background-color: yellow;
}
.a{
   grid-column-start: 1;
   grid-column-end: 4;
   background-color: aquamarine;
}
.b{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(255, 59, 157);
    
}
.c{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: brown;
=======
.parent{
    display: grid;
    grid-template-rows: 30fr 50fr 10fr;
}
.child{
    display: flex;
    justify-content: center;
    background-color: yellow;
}
.a{
   grid-column-start: 1;
   grid-column-end: 4;
   background-color: aquamarine;
}
.b{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(255, 59, 157);
    
}
.c{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: brown;
>>>>>>> 337dbe4cde9fe131f11d934f72fd889a2217b15c
}