.parent{
    width: 100px;
    background-color: aqua;
    text-align: centera;
    margin: 0px auto;
}
.parent1{
    margin: 0 0 auto;
    text-align: center;
    background-color: blue;
    width: 100px;
}