body{
    background-color: blueviolet;
}
h1{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
p{
    text-align: center;
}
@media(800px <= width <= 1000px){
    .parent{
        background-color: aqua;
        width: 800px;
        height: 800px;
    }
}
.parent{
    transition-property: height,width;
    transition-duration: 3s;
    transition-timing-function: linear;
}